body{
    background-color: #363636;
}
.container_head {
    background-color: #ffffff;
    width: 100%;
    margin:auto;
    padding: 10px;
    padding-top: 2%;

}
.menu-list {
    color: black;
    text-align: center;
    /*background-color: #2ecc71;*/
    width: 10%;
    display: inline-block;
    padding: 0.5%;
    font-size: 80%;
    /*border-radius: 3px;*/
    /*box-shadow: 2px 2px 5px grey;*/
    margin: 0.3%;

}
.menu-list-rl {
    color: black;
    text-align: center;
    /*background-color: #2ecc71;*/
    width: 5%;
    display: inline-block;
    padding: 0.5%;
    font-size: 80%;
    /*border-radius: 3px;*/
    /*box-shadow: 2px 2px 5px grey;*/
    margin: 0.2%;

    cursor: pointer;
}
.menu-bar {
    width: 100%;
    background-color: white;
    margin: 0%;

}
.menu-bar-2 {
    width: 100%;
    background-color:#27463B;
    margin: 0%;

}
.menu-list-space{
    /*color: white;*/
    text-align: center;
    /*background-color: black;*/
    width: 9%;
    display: inline-block;
    /*padding: 0.5%;*/
    font-size: 80%;
    margin: 0.2%;
    margin-top: 10px;
    margin-bottom: 10px;
    /*cursor: pointer;*/
}
.menu-list-search{
 color: white;
 text-align: center;
 background-color: black;
 width: 9%;
 display: inline-block;
 padding: 0.5%;
 font-size: 80%;
 margin: 0.2%;
 margin-top: 10px;
 margin-bottom: 10px;
 cursor: pointer;
}
.menu-bar-manu {
    width: 100%;
    background-color: black;
    margin: 0%;

}
.menu-shop {
    color: white;
    background-color: white;
    text-align: center;
    width: 5%;
    display: inline-block;
    padding: 0.5%;
    padding-top:3% ;
    padding-bottom:3%; 
    font-size: 80%;
    margin: 0.27%;

    cursor: pointer;

}
.first_manulist{
    margin-left:1%;
}
.left_manulist{
    margin-left:4%;

}
.container_body {
    background-color: black;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.container_body_manu {
    background-color: #0E1D4C;
    margin: auto;
    width: 100%;
    /*padding: 10px;*/
}
.container_footer {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.head{
    background-color: white;
    display: inline-block;
}
.space{
    width: 100%;
}
.manu-type{
  background-color: #ffffff;
  width: 100%;
  padding: 3px;   
  text-align: left;
  display: inline-block;
}
.manu-type-1{
  background-color: #ffffff;
  width: 100%;
  padding: 3px; 
  padding-top: 
  padding-left: 5%;
}
.manu-type-2{
  background-color: #ffffff;
  width: 20%;
  padding-top: 0.05%; 
  padding-left: 2%; 
}
.container_body-1 {
    background-color: black;
    width: 80%;
    margin: auto;
    padding: 10px;
}
.left-manu{
    background-color: #ffffff;
    width: 100%;
    padding-top: 0.05%; 
    padding-left: 10%; 
    padding-bottom: 10%;
    /*margin: 1px;*/

}
.right-manu{
    background-color: #ffffff;
    width:100%;
    padding-top: 0.05%; 
    padding-left: 2%;   
    margin-left: 1px;
    margin-top: 10px;
}